<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatIT">
        <activity android:name=".GroupChat"></activity>
        <activity android:name=".AddUser" />
        <activity android:name=".GroupName" />
        <activity
            android:name=".MessageAct"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ShowUsers"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ImageAct"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Profile"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".TabAct"
            android:label="@string/title_activity_tab"
            android:theme="@style/Theme.ChatIT.NoActionBar" />
        <activity
            android:name=".OTPAct"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
    </application>

</manifest>